:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --gris: #757575;
    --gris-claro: #dfe9f3;
    --secundario:#0097a7;

}
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
}
h1 {
    font-size: 4rem;
}
h1 span {
    font-size: 8rem;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}
.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
 
}